@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

#box {
  width: 25%;
}

#num {
  width: 150px;
  flex-flow: right;
  margin-right:10px;
}
#btn {
  margin-right: 10px;
  flex-flow: left;
}
#rst{
    text-indent: 5px;
}
div#ro.row {
  display: inline-flex;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
body {
  font-family: "Russo One", sans-serif;
  /* text-align: center; */
  background-color: rgb(133, 168, 133);
  color: rgb(214, 203, 104);
}
#num {
  color: rgb(133, 168, 133);
  background-color: rgb(214, 203, 104);
}
div.disp {
  position: relative;
  text-align: center;
  font-size: 12rem;
}
p#display {
    box-sizing: border-box;
  position: absolute;
  width: 25%;
  text-align: center;
  font-size: 12rem;
  top: 50px;
  margin-left: 34.5%;


}
h2 {
margin-left: 40%;
color:rgb(132, 132, 217);
text-shadow:lightpink 1px 1px;
}


#rst {
    letter-spacing: 2px;
}